body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rowgap {
  row-gap: 0px;
}

@media (max-width: 576px){
._1G5AR, .spotty, img {
    width: 80px!important;
    height: 80px!important;
}
 .spotty {
    width: 30px!important;
    height: 30px!important;
}
}

.spinner-custom {
  width: 7rem;
  height: 7rem;
  opacity: 0.5;
}

._1LTl0 .hgoDm._1v_0F {
  /* border: 2px solid #1ed760; */
  border: none!important;
  margin-left: 8px;
}
._1LTl0 ._9H-oe {
  font-size: 30px;
  color: #ffffff!important;
}

.hh {
  min-height: 500px;
}
